---
layout: default
---
<div class="home">

<div class="site-header-container has-cover" style="background-image: url({{ "/assets/header_img.jpg" | prepend: site.baseurl }});">
    <div class="scrim has-cover">
      <header class="site-header">
	<h1 class="title">{{ site.subtitle }}</h1>
	{% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
</div>

<!-- Content section starts -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">GLUG</h2>
                    <div class="lead">FSMK glugs</div>
		    this is jalskg aoh lakdg algrgiweur abiguog iauprghasgnalr aiefua foarigh oaiehgasorihkasjgbf iru.
                </div>
                <div class="col-lg-5  col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src={{"/assets/scene1.jpg" | prepend: site.baseurl }} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- end of section A -->
    <!-- BEGIN section B -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Community Center</h2>
                    <div class="lead">We run Two Community Centers</div>
    		thos  ao;dfkj aosgiag agf aighiash c c hchlka fgha cdkhgkach;iecgior ac akeljfcaiehxnpie
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src={{ "/assets/iss.jpg" | prepend: site.baseurl }} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- end of section B -->
</div>
