
.content-section-a {
    padding: 50px 0;
    background-color: #fff;
}

.content-section-b {
    padding: 50px 0;
    background-color: #eee;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #afafaf;
}

