---
layout: default
title: "Blog"
---
<div class="home">

  <div class="wrapper">
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
	<h2>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h2>
	<section class="post-excerpt" itemprop="description">
	  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
	</section>
	<section class="post-meta">
	  <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
	  <div class="post-categories">
	    {% if post.categories.size > 0 %}in {% for cat in post.categories %}
	    {% if site.jekyll-archives %}
	    <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
	    {% else %}
	    <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
	    {% endif %}
	    {% endfor %}{% endif %}
	  </div>
	</section>
      </li>
      {% if forloop.last == false %}
      <hr>
      {% endif %}
      {% endfor %}
    </ul>


    <nav role="navigation">
      <div class="pagination">

	{% if paginator.previous_page %}
      <span class="previous-page">
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: "//", "/"}}"> Page {{ paginator.previous_page }}</a>
      </span>
      {% endif %}

      <span class="page-number" > Page <em> {{ paginator.page }} </em> of {{ paginator.total_pages }} </span>

      
      {% if paginator.next_page %}
      <span class="next-page">
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: "//", "/"}}"> Page {{ paginator.next_page }}</a>
      </span>
      {% endif %}

      </div>
     </nav> 
  </div>
</div>
